<%= form_for [@user, @trap] do |f| %>
  <% if @trap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trap.user.errors.count, "error") %> prohibited this trap from being saved:</h2>

      <ul>
      <% @trap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
