
<p id="notice"><%= notice %></p>

<h1>Listing Traps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traps.each do |trap| %>
      <tr>
        <td><%= trap.name %></td>
        <td><%= trap.lat %></td>
        <td><%= trap.long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="map" style="height:500px; width: 400px; background-color:#CCC;">
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true" %>

<%= content_tag "div", id: "traps", data: {traps: Trap.limit(10)} do %>

<% end %>